# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
*.env

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.py

# Node
node_modules/

# Others
*.bak
*.swp