  {% load static %}
  <!DOCTYPE html>
  <html>
  <head>
      <title>Queues per Department</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

      <style>
          .dept-card {
              background: #85d8ff;
              border-radius: 20px;
              padding: 20px;
              box-shadow: 0 4px 8px rgba(0,0,0,0.1);
              transition: 0.2s;
          }
          .dept-card:hover { transform: scale(1.05); }
          .dept-title { font-size: 28px; font-weight: bold; }
          .info { font-size: 14px; color: #444; }
      </style>
  </head>

  <body>
  <div class="container py-5 text-center">
    <h2 class="mb-4">Select Department</h2>

    <div class="row justify-content-center">

      {% for dept in departments %}
        <div class="col-md-3 mb-4">
          <a href="{% url 'kiosk' dept.slug %}" class="text-decoration-none text-dark">
            <div class="dept-card">
              <div class="dept-title">
                {% if dept.currently_served %}
                  {{ dept.currently_served.queue_number }}
                {% else %}
                  {{ dept.name|slice:":2" }}
                {% endif %}
              </div>
              <div class="info">Serving time: {{ dept.serving_time|default:"--" }}</div>
              <div class="info">
                {% if dept.remaining_clients > 0 %}
                  Total clients left: {{ dept.remaining_clients }}
                {% else %}
                  Queue is empty
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>

  </body>
  </html>
